.row input.ng-invalid.ng-touched,
.row input.ng-invalid.ng-dirty,
.form-group input.ng-invalid.ng-touched,
.form-group input.ng-invalid.ng-dirty,
.form-group mat-radio-group.ng-invalid.ng-touched,
.form-group mat-radio-group.ng-invalid.ng-dirty {
    border-color: red;
    border-width: 1px;
    border-style: solid;
    border-radius: .25rem;
}

form>.row input.ng-invalid.ng-touched,
form>.row input.ng-invalid.ng-dirty {
    border-width: 3px;
}

.form-group input.ng-invalid.ng-touched:focus,
.form-group input.ng-invalid.ng-dirty:focus,
.row input.ng-invalid.ng-touched:focus,
.row input.ng-invalid.ng-dirty:focus {
    border-color: none;
    box-shadow: 0px 0px 0px 2px rgba(230, 16, 16, 0.75);
}