.fadeout {
    overflow: hidden;
    transition: all .5s ease-in-out;
    transform-origin: 0 0;
    transform: scaleY(0);
    max-height: 0;
    margin: 0rem;
}

.fadein {
    overflow: auto;
    transform: scaleY(1);
    max-height: 500px;
}

.component.fadein {
    display: table;
    width: 100%;
}

i.active.fa-plus-square:before {
    content: "\f146";
}