.MultiSelect-container .dropdown-item {
    text-align: left;
    direction: ltr;
    padding: .25rem 1rem .25rem 2rem;
}

.MultiSelect-container .dropdown-item>span>span {
    padding-right: 0.15rem;
}

.MultiSelect-container .search-container {
    flex-direction: row-reverse;
}