<footer>

    <!-- pager -->
    <div class="col-md-12" *ngIf="pager.MaxPages > 0">
        <div class="d-flex justify-content-center">
            <div class="pagination">
                <a (click)="MovePage('--')" *ngIf="pager.offset > 2">&raquo;</a>
                <a *ngIf="pager.offset < 3" class="disabled">&raquo;</a>

                <a (click)="MovePage('-')" *ngIf="pager.offset > 0">❯</a>
                <a *ngIf="pager.offset < 1" class="disabled">❯</a>

                <a *ngFor="let n of pager.PagerList | paging:pager.offset:pager.Limit:pager.MaxPages" [ngClass]="{'active':pager.offset == n}" (click)="MovePage(n)">{{n + 1}}</a>

                <a (click)="MovePage('+')" *ngIf="pager.offset < (pager.MaxPages - 1)">❮</a>
                <a *ngIf="pager.offset >= (pager.MaxPages - 1)" class="disabled">❮</a>

                <a (click)="MovePage('++')" *ngIf="pager.offset < (pager.MaxPages - 2)">&laquo;</a>
                <a *ngIf="pager.offset >= (pager.MaxPages - 2)" class="disabled">&laquo;</a>
            </div>
        </div>
    </div>
    <!-- pager -->

    <p class="text-xs-center">© Copyright 2020. All rights reserved.</p>
</footer>