.col-xl-12 .row {
    padding: 0.5rem 0.25rem;
}

.col-xl-12 .row.app-header {
    background: initial;
}

.col-xl-12.app-header {
    color: #fff;
    background: #4186dc;
    background: -webkit-gradient(linear, left top, left bottom, from(#4186dc), to(#6a9fe4));
    background: linear-gradient(#4186dc, #6a9fe4);
}

h5.card-title {
    background: none;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
}

app-display-images {
    width: 100%;
}

.errors,
.errors div {
    color: red;
}