<div class="form-container">
    <div class="container-fluid">
        <div class="col-xl-12 app-header">
            <div class="row app-header">
                <app-header class="container-fluid"></app-header>
            </div>
        </div>

        <form class="form-field-full" [formGroup]="optionFormGroup">

            <div class="col-xl-12 zebra">
                <div class="row">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">

                                    <div class="col-md-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="select search">search type</label>
                                            <mat-radio-group aria-labelledby="select search" class="form-control auto-height" [formControl]="SearchOption">
                                                <mat-radio-button class="example-radio-button" *ngFor="let g of searchTypeRadio" [value]="g.value">
                                                    {{g.name}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                            <div class="errors" *ngIf="optionFormGroup.invalid">
                                                <div *ngIf="SearchOption.errors?.required">
                                                    search type is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="searchQuery">Search Query</label>

                                            <input type="text" class="form-control" [formControl]="Query" placeholder="Query" [value]="optionFormGroup.get('Query').value | profanityFilter">

                                            <div class="errors" *ngIf="optionFormGroup.invalid">
                                                <div *ngIf="Query.errors?.required">
                                                    Query is required
                                                </div>
                                                <div *ngIf="Query.errors?.minlength">
                                                    Query mast be at list {{Query.errors?.minlength.requiredLength}} caracters long
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <div class="form-group">
                                            <button class="w-full" mat-raised-button color="primary" [disabled]="optionFormGroup.invalid" (click)="Search()">Search</button>
                                        </div>
                                    </div>

                                </h5>
                                <div class="row" *ngIf="Images && Images.length > 0">
                                    <app-display-images [images]="Images"></app-display-images>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <router-outlet></router-outlet>
        <app-footer [pager]="pagination" (PageMove)=MovePage($event)></app-footer>
    </div>
</div>