<form class="form-field-full" [formGroup]="loginForm">

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wellcome</h5>

                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="username">username</label>
                            <input type="text" class="form-control" [formControl]="username" placeholder="username">

                            <div *ngIf="username.errors?.required">
                                username is required
                            </div>
                            <div *ngIf="username.errors?.minlength">
                                username mast be at list {{username.errors?.minlength.requiredLength}}
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" class="form-control" [formControl]="password" placeholder="password">

                            <div *ngIf="password.errors?.required">
                                password is required
                            </div>
                            <div *ngIf="password.errors?.minlength">
                                password mast be at list {{password.errors?.minlength.requiredLength}}
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <button class="w-full" mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">login</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>