.container-fluid.col-xl-4,
.container-fluid.col-xl-3 {
    float: left;
    padding: 0.75rem;
}

h5.card-title {
    text-align: center;
    padding: 0.25rem 0;
    font-size: 1rem;
    margin: 0;
}

h6.card-title {
    text-align: center;
    padding: 0.25rem 0;
    font-size: 1rem;
    margin: 0;
}

.iframeframe {
    background-image: url('/assets/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: inline-block;
}