<div class="container-fluid col-xl-3 col-md-4 col-xs-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{image.title}}</h5>
            <div class="row">
                <iframe id="template" [src]='sanitizer.bypassSecurityTrustResourceUrl(image.embed_url)' width="100%" height="100%" style="outline:0;border:0;" class="iframeframe"></iframe>
            </div>
        </div>
    </div>
</div>